<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>
      {% if page.title %} {{ page.title | escape }} {% else %} {{ site.title |
      escape }} {% endif %}
    </title>

    <!-- Stylesheet -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/assets/css/gallery-materialize.min.css" rel="stylesheet" />
    <link href="/assets/css/zenburn.css" rel="stylesheet" />

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: GoogleSans;
        src: url(/assets/res/google-font.woff2);
      }

      * {
        font-family: GoogleSans;
      }

      ul {
        display: block;
        list-style-type: disc !important;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 3rem !important;
      }

      li {
        display: list-item !important;
        list-style-type: initial !important;
      }
    </style>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="{{site.baseurl}}/feed.xml"
    />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="{{site.baseurl}}/sitemap.xml"
    />
  </head>

  <body class="blog">
    <!-- Navbar and Header -->
    <nav class="nav-extended orange">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo"
          >TFUG India</a
        >
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li {% if page.url == "/" %} class="active" {% endif %}  style="list-style-type: none !important;"><a href="/">Home</a></li>
          <li {% if page.url == "/about" %} class="active" {% endif %} style="list-style-type: none !important;"><a href="/about">About</a></li>
        </ul>
      </div>

      <!-- Fixed Masonry Filters
      <div class="categories-wrapper orange darken-1">
        <div class="categories-container">
          <ul class="categories container">
            <li class="active"><a href="#all">All</a></li>
            <li><a href="#overhead">Overhead</a></li>
            <li><a href="#sintel">Sintel</a></li>
          </ul>
        </div>
      </div> -->
    </nav>
    <ul class="sidenav" id="nav-mobile" style="list-style-type: none !important; padding-left: 0 !important;">
      <li {% if page.url == "/" %} class="active" {% endif %} style="list-style-type: none !important; padding-left: 2rem;">
        <a href="/">Home</a>
      </li>
      <li {% if page.url == "/about" %} class="active" {% endif %} style="list-style-type: none !important;  padding-left: 2rem;">
        <a href="/about">About</a>
      </li>
    </ul>
  </body>
</html>
