---
layout: default
---

<nav
  class="nav-extended transparent"
  style="
    background-image: url('https://picsum.photos/900/300');
    background-size: cover;
  "
>
  <div class="container">
    <div class="nav-header center">
      <h1>{{page.title}}</h1>
      <div class="tagline" style="font-size: larger;">
        <span>
          {{page.date | date: "%d/%m/%Y"}}
        </span>
        <br />
        <span>
          {% for cat in page.categories %}
          <a
            href="{{site.baseurl}}/categories#{{cat | slugify}}{% if test == testup %}_cap{% endif %}"
            target="_blank"
            ><div class="chip">{{cat}}</div></a
          >
          {% endfor %}
        </span>
      </div>
    </div>
  </div>
</nav>
<div id="portfolio" class="section">
  <div class="container">
    <div class="row" style="height: 100% !important;">
      <div class="col s12">
        <div class="card grey lighten-5">
          <div class="card-content">
            <span class="card-title">Card Title</span>
            {{ content }}
          </div>
          <div class="card-action">
            {% if site.disqus_shortname and page.comments %}
            <div id="disqus_thread"></div>
            <script>
              var disqus_config = function () {
                this.page.url = "{{site.url}}{{site.baseurl}}{{page.url}}";
                this.page.identifier = "{{page.id}}";
              };
              (function () {
                // DON'T EDIT BELOW THIS LINE
                var d = document,
                  s = d.createElement("script");
                s.src = "//{{site.disqus_shortname}}.disqus.com/embed.js";
                s.setAttribute("data-timestamp", +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript
              >Please enable JavaScript to view the
              <a href="https://disqus.com/?ref_noscript"
                >comments powered by Disqus.</a
              ></noscript
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
